.navbar {
  background-color: #f0efe9;
  color: #48867b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 2rem;

  &-inner {
    display: flex;
    justify-content: flex-start;
    max-width: 80rem;
    margin: 0 auto;
  }

  .menu-item {
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #48867b;
      color: #fff;
    }
  }
}
